
/**** HERO SLICE ****/
#hero-slice {
  max-width: $section-width;
  margin: auto;
  position: relative;

  .overlay_box{
    position: absolute;
    z-index: 10;
    text-align: center;
    left: 0px;
    right: 0px;
    bottom: 32%;


    .hero-cta{
      font-family: $cta-font;
      font-size: $cta-size;
      width: 135px;
      margin: auto;
      background-color: white;
      padding: 15px 35px;
      letter-spacing: 2px;
      text-transform: uppercase;

      &:hover,
      &:active,
      &:focus {
        color: #ffffff;
        background-color: #000000;
      }
    }

  }
}

  @media only screen and (max-width: 780px) {
      #hero-slice{
         .overlay_box{
           bottom: 25%;
             h1{
              width: 400px;
              margin: auto;
              margin-bottom: 20px;
            }
            .hero-cta{
              padding: 12px 20px;
              font-size: 16px;
            }
        }
     }
  }

  @media only screen and (max-width: 580px) {
      #hero-slice{
         .overlay_box{
           bottom: 12%;
             h1{
              width: 320px;
              font-size: 30px;
            }
            .hero-cta{
              padding: 12px 16px;
              font-size: 14px;
            }
        }
     }
  }

  @media only screen and (max-width: 410px) {
      #hero-slice{
         .overlay_box{
           position: static;
           margin: 10px 0px;
           h1{
             width: 310px;
             color:#000000;
             text-shadow: 2px 2px #ececec;
           }
           .hero-cta{
             border: 1px solid black;
           }

        }
     }
  }



/**** GALLERY SLICE ****/
#gallery{
  max-width: $section-width;
  margin: auto;
  overflow: auto;
  margin-bottom: 40px;
}

/**** INTRO TEXT SLICE ****/
#intro-text{
  width: 70%;
  text-align: center;
  margin: auto;
  margin-bottom: 80px;

  p{
    font-family: $body-font;
    font-size: $body-size;
  }
}


@media only screen and (max-width: 870px) {
  #intro-text{
    width: 85%;
  }
}

/**** FORM SLICE ****/
#form{
  width: 100%;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  padding: 6% 0%;
  margin-bottom: 30px;

  h2{
    padding: 0px 12px;
  }
}

/**** Instagram Slice ****/
#instagram{
  width: $section-width;
  margin: auto;
  margin-bottom: 50px;

  .title{
    margin-bottom: 30px;
  }
}
